.log-btn:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  transition: opacity 0.3s ease, right 0.3s ease;
  transform: scale(1.1);
}

.log-btn::after {
  content: "\f138";
  font-family: "bootstrap-icons";
  position: absolute;
  right: 19px;
  opacity: 0;
  font-size: 19px;
  font-weight: bolder;
  transform: translateX(200px);
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}
.log-btn {
  position: relative;
  overflow: hidden;
}

.log-btn:hover::after {
  opacity: 1;
  transform: translateX(0);
}
.logo {
  color: white;
  font-size: 142px;
}
.home-page {
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
}
.bordereing {
  border-radius: 10px;
}
.star-vid {
  position: absolute;
  width: 40px;
  right: 36px;
  top: 3px;
}

.unit-vid {
  position: absolute;
  width: 40px;
  left: -22px;
  bottom: 76px;
}
.book-vid {
  right: -33px;
  bottom: 76px;
  position: absolute;
  width: 40px;
}
.logo-heading {
  font-weight: 700;
  font-size: 14px;
  margin: 0;
}
.nav-contact {
  border: none;
  outline: none;
  padding-inline: 10px;
  padding-block: 5px;
  background: orange;
  color: white;
  border-radius: 2px;
}

/* .home-img-div{
  width: 500px;
  height: 600px;
} */
